<!DOCTYPE html>
<html lang="en">
<head>
    <title>About us</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename = 'plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/animate.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/main_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/about.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'styles/common/main_responsive.css') }}">
</head>
<body>

<div class="super_container">
    <div class="super_overlay"></div>

    <!-- Header -->

    {% include 'header.html' %}


    <!-- Home -->

    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg"
             data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">About us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Intro -->

    <div class="intro">
        <div class="container">
            <div class="row row-eq-height">

                <!-- Intro Content -->
                <div class="col-lg-6">
                    <div class="intro_content">
                        <div class="section_title_container">
                            <div class="section_subtitle">the best deals</div>
                            <div class="section_title"><h1>Who we are</h1></div>
                        </div>
                        <div class="intro_text">
                            <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum
                                dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo
                                cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent
                                vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo,
                                ut tempor leo cursus in.</p>
                        </div>
                        <div class="button intro_button"><a href="#">read more</a></div>
                    </div>
                </div>

                <!-- Intro Image -->
                <div class="col-lg-6 intro_col">
                    <div class="intro_image">
                        <div class="background_image" style="background-image:url(images/intro.jpg)"></div>
                        <img src="images/intro.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Services -->

    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <div class="section_subtitle">the best deals</div>
                        <div class="section_title"><h1>Services</h1></div>
                    </div>
                </div>
            </div>
            <div class="row services_row">

                <!-- Service -->
                <div class="col-xl-4 col-md-6">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                                <img src="images/service_1.png" alt="">
                            </div>
                            <div class="service_title"><h3>Consulting</h3></div>
                        </div>
                        <div class="service_text">
                            <p>Nulla aliquet bibendum sem, non placer risus venenatis at. Prae sent vulputate bibendum
                                dictum.</p>
                        </div>
                    </div>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                                <img src="images/service_2.png" alt="">
                            </div>
                            <div class="service_title"><h3>Real estate sales</h3></div>
                        </div>
                        <div class="service_text">
                            <p>Aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum
                                dictum. Cras at vehicula.</p>
                        </div>
                    </div>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                                <img src="images/service_3.png" alt="">
                            </div>
                            <div class="service_title"><h3>Renting</h3></div>
                        </div>
                        <div class="service_text">
                            <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum
                                dictum.</p>
                        </div>
                    </div>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                                <img src="images/service_4.png" alt="">
                            </div>
                            <div class="service_title"><h3>Meditation</h3></div>
                        </div>
                        <div class="service_text">
                            <p>Aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum
                                dictum. Cras at vehicula.</p>
                        </div>
                    </div>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                                <img src="images/service_5.png" alt="">
                            </div>
                            <div class="service_title"><h3>Evaluation</h3></div>
                        </div>
                        <div class="service_text">
                            <p>Bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras
                                at vehicula.</p>
                        </div>
                    </div>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div class="service_icon d-flex flex-column align-items-start justify-content-center">
                                <img src="images/service_6.png" alt="">
                            </div>
                            <div class="service_title"><h3>Price Consulting</h3></div>
                        </div>
                        <div class="service_text">
                            <p>Aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum
                                dictum. Cras at vehicula.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Milestones -->

    <div class="milestones">
        <div class="container">
            <div class="row">

                <!-- Milestone -->
                <div class="col-xl-3 col-md-6 milestone_col">
                    <div class="milestone d-flex flex-row align-items-start justify-content-md-center justify-content-start">
                        <div class="milestone_content">
                            <div class="milestone_icon d-flex flex-column align-items-start justify-content-center"><img
                                    src="images/duplex.svg" alt=""></div>
                            <div class="milestone_counter" data-end-value="425">0</div>
                            <div class="milestone_text">homes sold</div>
                        </div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-xl-3 col-md-6 milestone_col">
                    <div class="milestone d-flex flex-row align-items-start justify-content-md-center justify-content-start">
                        <div class="milestone_content">
                            <div class="milestone_icon d-flex flex-column align-items-start justify-content-center"><img
                                    src="images/prize.svg" alt=""></div>
                            <div class="milestone_counter" data-end-value="18">0</div>
                            <div class="milestone_text">awards</div>
                        </div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-xl-3 col-md-6 milestone_col">
                    <div class="milestone d-flex flex-row align-items-start justify-content-md-center justify-content-start">
                        <div class="milestone_content">
                            <div class="milestone_icon d-flex flex-column align-items-start justify-content-center"><img
                                    src="images/home.svg" alt=""></div>
                            <div class="milestone_counter" data-end-value="25" data-sign-after="k">0</div>
                            <div class="milestone_text">followers</div>
                        </div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-xl-3 col-md-6 milestone_col">
                    <div class="milestone d-flex flex-row align-items-start justify-content-md-center justify-content-start">
                        <div class="milestone_content">
                            <div class="milestone_icon d-flex flex-column align-items-start justify-content-center"><img
                                    src="images/rent.svg" alt=""></div>
                            <div class="milestone_counter" data-end-value="1265">0</div>
                            <div class="milestone_text">rentals</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Agents -->

    <div class="agents">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <div class="section_subtitle">the best deals</div>
                        <div class="section_title"><h1>Our Realtors</h1></div>
                    </div>
                </div>
            </div>
            <div class="row agents_row">

                <!-- Agent -->
                <div class="col-lg-4 agent_col">
                    <div class="agent">
                        <div class="agent_image"><img src="images/realtor_1.jpg" alt=""></div>
                        <div class="agent_content">
                            <div class="agent_name"><a href="#">Michael Smith</a></div>
                            <div class="agent_title">Buying Agent</div>
                            <div class="agent_list">
                                <ul>
                                    <li>michael@myhometemp.com</li>
                                    <li>+45 27774 5653 267</li>
                                </ul>
                            </div>
                            <div class="social">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Agent -->
                <div class="col-lg-4 agent_col">
                    <div class="agent">
                        <div class="agent_image"><img src="images/realtor_2.jpg" alt=""></div>
                        <div class="agent_content">
                            <div class="agent_name"><a href="#">Jane Williams</a></div>
                            <div class="agent_title">Buying Agent</div>
                            <div class="agent_list">
                                <ul>
                                    <li>michael@myhometemp.com</li>
                                    <li>+45 27774 5653 267</li>
                                </ul>
                            </div>
                            <div class="social">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Agent -->
                <div class="col-lg-4 agent_col">
                    <div class="agent">
                        <div class="agent_image"><img src="images/realtor_3.jpg" alt=""></div>
                        <div class="agent_content">
                            <div class="agent_name"><a href="#">Carla Brown</a></div>
                            <div class="agent_title">Buying Agent</div>
                            <div class="agent_list">
                                <ul>
                                    <li>michael@myhometemp.com</li>
                                    <li>+45 27774 5653 267</li>
                                </ul>
                            </div>
                            <div class="social">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row contact_row">
                <div class="col">
                    <div class="button ml-auto mr-auto"><a href="#">contact us</a></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer  -->
    {% include 'footer.html' %}
</div>

<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/about.js') }}"></script>
</body>
</html>