<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat</title>

    <!-- General links -->
    {% include 'include/headLinks.html' %}

    <link href="{{ url_for('static', filename = 'styles/chatpage.css') }}" rel="stylesheet">
</head>
<body>
<!-- Header -->
{% include 'include/header.html' %}

<div class="container">
    <div class="row chat-container" id="mainrow">

        <!-- Navegación de productos -->
        <div class="col-lg-4 sidebar">
            <div class="sidebar-head">
                <center>
                    <h3 class="m-3">Mis chats.</h3>
                </center>
                <input type="text" class="search_chat_input" id="inputSearchChat" onkeyup="searchChats()"
                       placeholder=" &#xf002; Buscar chats.." title="Escribe un nombre de chat">
            </div>

            <div class="scrollable-chats-container">
                <div class="scrollable-chats">
                    <!-- Lista de chats -->
                    <div id="rooms"></div>
                </div>
            </div>
        </div>

        <!-- Cuadro principal -->

        <div class="chat col-lg-8 pt-3" style="">
            <div class="chat-tittle">
                <div class="chat-headerspace"></div>
                    <div class="chat-title_container" id="other_user">
                        <center><div class="chat-title-text">Chats</div></center>
                    </div>
            </div>


            <!-- Mensajes -->
            <div class="messages_scrollable" id="msg_scroll">
                <div class="row" id="chat-msgs">
                    <div class="messages-bubble-date">
                        Selecciona un chat para cargar los mensajes
                    </div>
                </div>
            </div>

            <!-- Enviar mensaje -->
            <div class="response">
                <form id="replyMessage">
                    <div class="row send-square">
                        <div class="col-10">
                            <input type="text" placeholder="Introducir Mensaje..." class="mensaje_input"
                                   name="message"/>
                        </div>
                        <div class="col-2">
                            <button type="summit" class="send_button">Enviar <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<!-- Footer  -->


<!-- General Scripts  -->
{% include 'include/scripts.html' %}

<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-firestore.js"></script>
<script type="text/javascript">
    var myID = {{userauth.user_id}};
</script>
<script src="{{ url_for('static', filename = 'js/chatpage.js') }}"></script>

</body>
</html>
