<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat</title>

    <!-- General links -->
    {% include 'include/headLinks.html' %}

    <link href="{{ url_for('static', filename = 'styles/chatpage.css') }}" rel="stylesheet">
</head>
<body>
<!-- Header -->
{% include 'include/header.html' %}

<div class="container">
    <div class="row chat-container" id="mainrow">

        <!-- Navegación de productos -->
        <div class="col-lg-4 sidebar">
            <div class="sidebar-head">
                <h3 class="m-3">{{userauth.username}}</h3>
                <input type="text" class="search_chat_input" id="inputSearchChat" onkeyup="searchChats()"
                     placeholder=" &#xf002; Search chats.." title="Escribe un nombre de chat">
            </div>


            <div class="scrollable-chats">
                <!-- Lista de chats -->
                <div id="rooms" ></div>
            </div>


        </div>

        <!-- Cuadro principal -->
        <div role="main" class="col-lg-8 pt-3" id="main">

            <div class="chat" style="">
                <center>
                  <h1 id="room-title">Chats</h1>
                    <hr>
                </center>

                <!-- Mensajes -->
                <div class="messages_scrollable" id="msg_scroll">
                    <nav id="chat-msgs">
                        <br><br><br><br><br>
                        <p>👈 Selecciona un chat para cargar los mensajes</p>
                    </nav>
                </div>

                <!-- Enviar mensaje -->
                <div class="response mt-3">
                    <form id="replyMessage">
                        <div class="row send-square">
                            <div class="col-10">
                                <input type="text" placeholder="Introducir Mensaje..." class="mensaje_input" name="message"/>
                            </div>
                            <div class="col-2">
                                <button type="summit" class="send_button">Enviar <i class="fas fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer  -->


<!-- General Scripts  -->
{% include 'include/scripts.html' %}

<script src="{{ url_for('static', filename = 'js/chatpage.js') }}"></script>
</body>
</html>
