<!DOCTYPE html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/editprofile.css') }}">

    <!-- General links -->
    {% include 'include/headLinks.html' %}


</head>

<body>
<!-- Header -->
{% include 'include/header.html' %}

<!-- Title -->
<center>
    <div class="title_container">
        <div class="title">Editar Perfil</div>
    </div>
</center>
<div class="container">


    <form action="" method="POST">
        <div class="row">

            <div class="col-lg-4">
                <div class="mt-5">
                    <!-- Begin Image -->
                    <img class="portrait mb-5" src={{url_for('static',filename='profiles/pfp.png')}}
                         alt="{{ user.first_name }} {{ user.last_name }}"/>
                    <!-- End Image -->
                </div>
                <input type="submit" id="image-change" class="mb-5 contact_button" value="Cambiar imagen de perfil">
            </div>

            <div class="col-lg-4">
                <!-- Begin Personal Information -->
                <div class="verticalLine">
                    <div class="ml-5 mt-3">
                        <h2 class="name">{{user.first_name}} {{user.last_name}}<br></h2>
                        <hr>
                        <h3>Puntuación:

                            <div class="ml-5 mr-1 mb-3">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                {{ user.rating }}
                            </div>
                            <!--<i class="fas fa-star-half-alt"></i>-->
                        </h3>
                        <ul>

                            <p class="info">
                                <strong>Email:</strong>
                                {{form.email(class="contact_input", value=user.email)}}
                            </p>
                            <p class="info">
                                <strong>Nombre:</strong>
                                {{form.name(class="contact_input", value=user.first_name)}}
                            </p>
                            <p class="info">
                                <strong>Apellidos:</strong>
                                {{form.lastname(class="contact_input", value=user.last_name)}}
                            </p>
                            <p class="info">
                                <strong>Género:</strong>
                            <ul id=genero class=radio>
                                {% for subfield in form.genero %}
                                <li class=radio>
                                    {{ subfield }}
                                    {{ subfield.label }}
                                </li>
                                {% endfor %}
                            </ul>
                            </p>

                            <input type="submit" id="send" class="mb-5 contact_button" value="Guardar cambios"
                                   id="upload-button">

                        </ul>
                    </div>
                </div>
                <!-- End Personal Information -->
            </div>
            <div class="col-lg-4 mt-5">
                <div class="ml-5 mt-5">
                    <p class=info>
                        <strong>{{ form.password.label }}</strong><br>
                        <input type="password" class="contact_input" name="password"
                               value={{request.form.password}}>
                        {% for error in form.password.errors %}
                    <center>
                        <div class="alert alert-danger input-d contact_input">
                            {{ error }}
                        </div>
                    </center>
                    {% endfor %}
                    </p>
                    <p class=info>
                        <strong>{{ form.confirm.label }}</strong><br>
                        <input type="password" class="contact_input" name="confirm" value={{request.form.confirm}}>
                        {% for error in form.confirm.errors %}
                    <center>
                        <div class="alert alert-danger input-d contact_input">
                            {{ error }}
                        </div>
                    </center>
                    {% endfor %}
                    </p>

                    <input type="submit" id="password-change" class="mb-5 contact_button" value="Cambiar contraseña">
                </div>
            </div>

        </div>
    </form>


</div>
<!-- Footer  -->
{% include 'include/footer.html' %}


<!-- General Scripts  -->
{% include 'include/scripts.html' %}
</body>
