<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Inicio</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Índice de SELIT! web">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/index.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/listings.css') }}">
    		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/wishlist.css') }}">

	    	<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
	    	<script type="text/javascript" src="{{ url_for('static', filename = 'js/wishlist.js') }}"></script>

		<!-- General links -->
		{% include 'include/headLinks.html' %}
	</head>

	<body>
		<div class="super_container">
			<div class="super_overlay"></div>

			<!-- Header -->
			{% include 'include/header.html' %}
			{% import 'include/_products.html' as products %}

			<!-- Title -->
			<center>
				<div class="title_container">
					<div class="title">Página Principal</div>
				</div>
			</center>

			<!-- Featured -->

			<div class="featured">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title_container text-center">
								<div class="section_subtitle"></div>
								<div class="section_title"><h1>Últimos productos añadidos</h1></div>
							</div>
						</div>
					</div>
					{% if sizeProd == 0 %}
					<div class="noprod">
						<h2>No hay productos cerca de tí</h2>
					</div>
					{% else %}
					<div class="featured_row">
						<div class="listings">
							<div class="container">
								<div class="row">
									<div class="col">
										{{ products.list(prods) }}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}

					<div class="row">
						<div class="col">
							<div class="section_title_container text-center">
								<div class="section_subtitle"></div>
								<div class="section_title"><h1>Subastas más recientes</h1></div>
							</div>
						</div>
					</div>
					{% if sizeAuct == 0 %}
					<div class="noprod">
						<h2>No hay subastas cerca de tí</h2>
					</div>
					{% else %}
					<div class="featured_row">
						<div class="listings">
							<div class="container">
								<div class="row">
									<div class="col">
										{{ products.list(auctions) }}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}

				</div>
			</div>

			<!-- Footer  -->
			{% include 'include/footer.html' %}
		</div>

		<!-- General Scripts  -->
		{% include 'include/scripts.html' %}

		<!-- Owl Carousel  -->
		<script src="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/owl.carousel.js') }}"></script>

		<!-- Google Maps  -->
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>

		<script src="{{ url_for('static', filename = 'js/index.js') }}"></script>

	</body>
</html>
