<!DOCTYPE html>
<html lang="en">
<head>
    <title>Listings</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename = 'plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/animate.css') }}">

    <link rel="icon" href="{{ url_for('static', filename = 'images/Logo_SELIT!_x256.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/main_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/listings.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'styles/common/main_responsive.css') }}">
</head>

<body>
<div class="super_container">
    <div class="super_overlay"></div>

    <!-- Header -->

    {% include 'include/header.html' %}


    <!-- Search -->

    <div class="search">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="search_container">
                        <div class="search_form_container">
                            <form action="#" class="search_form" id="search_form">
                                <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                        <input type="text" class="search_input" placeholder="Property type"
                                               required="required">
                                        <input type="text" class="search_input" placeholder="No rooms"
                                               required="required">
                                        <input type="text" class="search_input" placeholder="Location"
                                               required="required">
                                    </div>
                                    <button class="search_button">submit listing</button>
                                </div>
                            </form>
                        </div>
                        <div class="extra_search_buttons d-flex flex-row align-items-start justify-content-start">
                            <div class="extra_search_button search_button_1"><a href="#">Detailed Search</a></div>
                            <div class="extra_search_button search_button_2"><a href="#">Show Map</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Listings -->

    <div class="listings">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Sorting -->
                    <div class="sorting d-flex flex-md-row flex-column align-items-start justify-content-start">

                        <!-- Tags -->
                        <div class="listing_tags">
                            <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                <li><a href="#">2 beds<span>x</span></a></li>
                                <li><a href="#">2 baths<span>x</span></a></li>
                                <li><a href="#">garage<span>x</span></a></li>
                                <li><a href="#">swimming pool<span>x</span></a></li>
                                <li><a href="#">patio<span>x</span></a></li>
                                <li><a href="#">heated floors<span>x</span></a></li>
                                <li><a href="#">garden<span>x</span></a></li>
                            </ul>
                        </div>

                        <!-- Sort -->
                        <div class="sorting_container">
                            <div class="sort">
                                <span>Sort By</span>
                                <ul>
                                    <li class="sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>
                                        Default
                                    </li>
                                    <li class="sorting_button" data-isotope-option='{ "sortBy": "price" }'>Price</li>
                                    <li class="sorting_button" data-isotope-option='{ "sortBy": "area" }'>Area</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- Listings Container -->
                    <div class="listings_container">

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_1.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="/listings">house</a></div>
                                        <div class="tag tag_sale"><a href="/listings">for sale</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 217 346</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">280 Doe Meadow Drive Landover, MD 20785</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>2500 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_2.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="listings.html">house</a></div>
                                        <div class="tag tag_rent"><a href="listings.html">for rent</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 515 957</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">4812 Haul Road Saint Paul, MN 55102</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>1234 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_3.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="listings.html">house</a></div>
                                        <div class="tag tag_sale"><a href="listings.html">for sale</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 375 255</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">4067 Wolf Pen Road Mountain View, CA 94041</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>2000 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_4.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="listings.html">house</a></div>
                                        <div class="tag tag_rent"><a href="listings.html">for rent</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 122 350</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">280 Doe Meadow Drive Landover, MD 20785</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>1750 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_5.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="listings.html">house</a></div>
                                        <div class="tag tag_rent"><a href="listings.html">for rent</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 59 251</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">280 Doe Meadow Drive Landover, MD 20785</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>750 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_6.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="listings.html">house</a></div>
                                        <div class="tag tag_sale"><a href="listings.html">for sale</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 715 114</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">280 Doe Meadow Drive Landover, MD 20785</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>2780 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_7.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="listings.html">house</a></div>
                                        <div class="tag tag_sale"><a href="listings.html">for sale</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 325 520</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">280 Doe Meadow Drive Landover, MD 20785</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>1325 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_8.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="listings.html">house</a></div>
                                        <div class="tag tag_sale"><a href="listings.html">for sale</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 154 487</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">280 Doe Meadow Drive Landover, MD 20785</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>950 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="listing_box house sale">
                            <div class="listing">
                                <div class="listing_image">
                                    <div class="listing_image_container">
                                        <img src="{{ url_for('static', filename = 'images/listing_9.jpg') }}" alt="">
                                    </div>
                                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="tag tag_house"><a href="listings.html">house</a></div>
                                        <div class="tag tag_rent"><a href="listings.html">for rent</a></div>
                                    </div>
                                    <div class="tag_price listing_price">$ 95 085</div>
                                </div>
                                <div class="listing_content">
                                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                        <a href="single">280 Doe Meadow Drive Landover, MD 20785</a>
                                    </div>
                                    <div class="listing_info">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                            <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_2.png') }}"
                                                     alt="">
                                                <span>690 sq ft</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_3.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_4.png') }}"
                                                     alt="">
                                                <span>5</span>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{{ url_for('static', filename = 'images/icon_5.png') }}"
                                                     alt="">
                                                <span>2</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="load_more">
                        <div class="button ml-auto mr-auto"><a href="#">load more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer  -->
    {% include 'include/footer.html' %}
</div>

<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/OwlCarousel2-2.3.4/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/Isotope/isotope.pkgd.min.js') }}"></script>

<script src="{{ url_for('static', filename = 'js/common/main.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/listings.js') }}"></script>
</body>
</html>