<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Listings</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="myHOME - real estate template project">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/listings.css') }}">
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/wishlist.css') }}">
    	
	    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
	    <script type="text/javascript" src="{{ url_for('static', filename = 'js/wishlist.js') }}"></script>

		<!-- General links -->
		{% include 'include/headLinks.html' %}

		{{ map.js }}

	</head>

	<body>
		<div class="super_container">
			<div class="super_overlay"></div>

			<!-- Header -->

			{% include 'include/header.html' %}

			<!-- Title -->
			<center>
				<div class="title_container">
					<div class="title">
						{% if auction == True %}
						Buscar Subasta
						{% else %}
						Buscar Producto
						{% endif %}
					</div>
				</div>
			</center>


			<!-- Search -->
			<div class="search">
				<div class="container">
					<div class="col-12 p-0">
						<div class="google_map_container">
							{{ map.html }}
							<script type="text/javascript">
								google.maps.event.addDomListener(window, 'load', function(){
									{% for prod in prods %}    
									map_markers[{{ loop.index0 }}].addListener('click', function(){
										var elem = $("#{{ prod.id_producto }}");
										$(document).scrollTop(elem.offset().top - 80);
										elem.addClass('focus');
										setTimeout(function() {
											elem.removeClass('focus');
										}, 2000);
									});
									{% endfor %}
								});
							</script>
						</div>
					</div>
					<form action="#" class="search_form" id="search_form">
						<div class="start justify-content-lg-between justify-content-start">
							<div class="row col search_inputs align-items-start justify-content-lg-between justify-content-start">
								<div class="col-12 col-lg-8">
									<div class="search_title">Palabras Clave</div>
									{{ form.keywords(class = "search_input", value = keywords) }}
								</div>
								<div class="col-8 col-lg-2 text-center align-self-end">
									{{ form.submit(class="search_button") }}
								</div>
								<div class="col-4 col-lg-2 text-center align-self-end">
									<div class="search_button d-block " data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">
										<!-- <i class="fas fa-sliders-h" style="line-height: 51px"></i> -->
										<span class="search_button_center">Filtrar</span>
									</div>
								</div>
								<div id="filters" class="row collapse mt-3 search_inputs align-items-start justify-content-lg-between justify-content-start">
								<div class="col-lg-4">
									<div class="search_title">Precio Mínimo</div>
									{{ form.minprice(class = "search_input input-d", value = minprice) }}
									{% if errormin %}
									<div class="alert alert-danger">
										<li>Se debe introducir un número</li>
									</div>
									{% endif %}
								</div>
								<div class="col-lg-4">
									<div class="search_title">Precio Máximo</div>
									{{ form.maxprice(class = "search_input", value = maxprice) }}
									{% if errormax %}
									<div class="alert alert-danger">
										<li>Se debe introducir un número</li>
									</div>
									{% endif %}
								</div>
								<div class="col-lg-4">
									<div class="search_title">Categoría</div>
									<select class="search_input" id="category" name="category">
										<option value="">Todo</option>
										{% for choice in form.categories %}
										{% if choice == category %}
										<option selected value="{{choice}}">{{choice}}</option>
										{% else %}
										<option value="{{choice}}">{{choice}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="col-lg-4">
									<div class="search_title">Fecha Mínima de Publicación</div>
									{{ form.minpublished(class = "search_input", value = minpublished) }}
								</div>
								<div class="col-lg-4">
									<div class="search_title">Fecha Máxima de Publicación</div>
									{{ form.maxpublished(class = "search_input", value = maxpublished) }}
								</div>
								<div class="col-lg-4">
									<div class="search_title">Estado</div>
									<select class="search_input" id="estado" name="estado">
										<option value="">Todo</option>
										{% for choice in form.estados %}
										{% if choice[0] == status %}
										<option selected value="{{choice[0]}}">{{choice[1]}}</option>
										{% else %}
										<option value="{{choice[0]}}">{{choice[1]}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="col-lg-4">
									<div class="search_titlem">Distancia Máxima (Km)</div>
									{{ form.distancia(class = "search_input input-d", value = distancia) }}
									{% if errordist %}
									<div class="alert alert-danger">
										<li>Se debe introducir un número</li>
									</div>
									{% endif %}
								</div>
								<div class="col-lg-4">
									<div class="search_title">Ordenación</div>
									<select class="search_input" id="ordenacion" name="ordenacion">
										{% for choice in form.ordenacionlist %}
										{% if choice[0] == sort %}
										<option selected value="{{choice[0]}}">{{choice[1]}}</option>
										{% else %}
										<option value="{{choice[0]}}">{{choice[1]}}</option>
										{% endif %}
										{% endfor %}
									</select>

								</div>
								<div class="col-lg-4">
									<div class="search_title">Resultados por Página</div>
									<select class="search_input" id="resultados" name="resultados">
										{% for choice in form.resultadosporpag %}
										{% if choice == resultados %}
										<option selected value="{{choice}}">{{choice}}</option>
										{% else %}
										<option value="{{choice}}">{{choice}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
								<div class="col-12 text-center align-self-end">
									{{ form.submit(class="search_button", value="Aplicar") }}
								</div>							
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Listings -->

		<div class="listings">
			<div class="container">
				<div class="row">
					<div class="col">

						{% import 'include/_products.html' as products %}
						{{ products.list(prods, auction) }}

						<div class="row">
							{% if first == 0 %}
							<button id="prev" style="margin-left:auto;margin-right:auto;" class="search_button" >Página Anterior</button>
							<script type="text/javascript">
								document.getElementById("prev").onclick = function () {
									location.href = "{{prev|safe}}";
								};
							</script>
							{% endif %}

							{% if last == 0 %}
							<button id="next" style="margin-left:auto;margin-right:auto;" class="search_button" >Página Siguiente</button>
							<script type="text/javascript">
								document.getElementById("next").onclick = function () {
									window.location.href = "{{next|safe}}";
								};
							</script>
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer  -->
		{% include 'include/footer.html' %}
		</div>

		<!-- General Scripts  -->
		{% include 'include/scripts.html' %}

		<!-- Isotope  -->
		<script src="{{ url_for('static', filename = 'plugins/Isotope/isotope.pkgd.min.js') }}"></script>

		<script src="{{ url_for('static', filename = 'js/listings.js') }}"></script>
	</body>
</html>
