<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">

    <!-- General links -->
    {% include 'include/headLinks.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/login.css') }}">
</head>
<body>
<!------ Include the above in your HEAD tag ---------->
<!-- Header -->
{% include 'include/header.html' %}

<!-- Title -->
<center>
    <div class="title_container">
        <div class="title">Iniciar Sesión</div>
    </div>
</center>

<!-- Formulario -->
<center class="container">

    <div class="row">
        <div class="col">

            <!-- ********************** Desktop ************************** -->
            <div class="formContent_d mb-5 pt-3 m_no_display">
                <!-- Login Form -->
                <form class="search_form" action="" method="post" novalidate>
                    <p>
                        <strong>{{ form.email.label }}</strong><br>
                        <input type="text" class="input-d" name="email" value={{request.form.email}}>
                        {% for error in form.email.errors %}
                    <center>
                        <div class="alert alert-danger input-d">
                            {{ error }}
                        </div>
                    </center>
		    {% endfor %}
		    {% if notactivated %}
		    <div class="alert alert-danger">
			    <li>El usuario no ha sido verificado</li>
		    </div>
		    {% endif %}
		    {% if veriferror %}
		    <div class="alert alert-danger">
			    <li>Credenciales incorrectas</li>
		    </div>
		    {% endif %}


                    </p>
                    <p>
                        <strong>{{ form.password.label }}</strong><br>
                        <input type="password" class="input-d" name="password" value={{request.form.password}}>
                        {% for error in form.password.errors %}
                    <center>
                        <div class="alert alert-danger input-d">
                            {{ error }}
                        </div>
                    </center>
                    {% endfor %}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit(class="search_button") }}</p>
                </form>

                <!-- Remember Password -->
                <p>
                <div class="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>
                </p>
            </div>

        </div>
    </div>


    <!-- ******************** Mobile ************************** -->
    <div class="mb-5 mt-5 m_display">

        <form class="formContent_m" action="" method="post" novalidate>
            <div class="col">

                <strong>{{ form.email.label }}</strong><br>
                <input type="text" name="email" value={{request.form.email}}>
                {% for error in form.email.errors %}
                <div class="alert alert-danger">
                    <li>{{ error }}</li>
                </div>
                {% endfor %}
		{% if notactivated %}
		<div class="alert alert-danger">
			<li>El usuario no ha sido verificado</li>
                </div>
		{% endif %}
		{% if veriferror %}
		<div class="alert alert-danger">
			<li>Credenciales incorrectas</li>
                </div>
		{% endif %}



                <strong>{{ form.password.label }}</strong><br>
                <input type="password" name="password" value={{request.form.password}}>
                {% for error in form.password.errors %}
                <div class="alert alert-danger">
                    <li>{{ error }}</li>
                </div>
                {% endfor %}

                <p><input type="checkbox" name="remember_me" value={{request.form.remember_me}}> {{
                    form.remember_me.label }}</p>
                <p><input type="submit" name="submit" value="Iniciar Sesión"></p>
            </div>
        </form>
        <!-- Remind Password -->
        <p>
        <div>
            <a class="underlineHover" href="#">¿Olvidaste la contraseña?</a>
        </div>
        </p>

    </div>
    <!-- ************************************************************ -->

</center>
<!-- Footer  -->
{% include 'include/footer.html' %}

<!-- General Scripts  -->
{% include 'include/scripts.html' %}
</body>
</html>
