<html lang=en>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="myHOME - real estate template project">

	<!-- General links -->
    {% include 'include/headLinks.html' %}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/profile.css') }}">
</head>
<!-- Header -->
{% include 'include/header.html' %}

<body>
	<div id="wrapper">
		<div class="wrapper-top"></div>
		<div class="wrapper-mid">
			<!-- Begin Paper -->
			<div id="paper">
				<div class="paper-top"></div>
				<div id="paper-mid">
					<div class="entry">
						<!-- Begin Image -->
						<img class="portrait" src={{url_for('static',filename='profiles/pfp.png')}} alt="John Smith" />
						<!-- End Image -->
						<!-- Begin Personal Information -->
						<div class="self">
							<h1 class="name">Pablo Orduna<br />
								<span>Vendedor de confianza</span></h1>
							<ul>
								<p>email: johndoe@example.com</p>
								<p>status: active</p>
								<p>first_name: John</p>
								<p>last_name: Doe</p>
								<p>gender: male</p>
								<p>birth_date: 1970-01-01</p>
								<p>Correo: pablorduna98@gmail.com</p>
							</ul>
						</div>
						<!-- End Personal Information -->
					</div>
					<!-- Begin 1st Row -->
					<div class="entry">
						<h2>ANUNCIOS</h2>
					</div>
				</div>
			</div>
			<!-- End Paper -->
		</div>
	</div>
	<!-- End Wrapper -->
</body>
<!-- Footer  -->
{% include 'include/footer.html' %}

<!-- General Scripts  -->
{% include 'include/scripts.html' %}
