<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">

    <!-- General links -->
    {% include 'include/headLinks.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/register.css') }}">
</head>
<body>

<div class="super_container">
    <div class="super_overlay"></div>

    <!-- Header -->
    {% include 'include/header.html' %}


    <!-- Formulario -->
    <center class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h1>REGISTRARSE</h1></div>
                </div>
            </div>
        </div>

        <form action="" method="POST">
            <div class="row contact_form_row">
                <div class="col">
                    <div class="contact_form_container">

                        <div class="row">
                            <div class="col-lg-6">
                                <strong>Nombre</strong>
                                <input type="text" name="name" class="contact_input" value={{request.form.name}}>
                                {% for error in form.name.errors %}
                                    <div class = "alert alert-danger">
                                      <li>{{ error }}</li>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                <strong>Email</strong>
                                <input type="text" name="email" class="contact_input" value={{request.form.email}}>
                                {% for error in form.email.errors %}
                                    <div class = "alert alert-danger">
                                      <li>{{ error }}</li>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <strong>Nombre de usuario</strong>
                                <input type="text" name="username" class="contact_input" value={{request.form.username}}>
                                {% for error in form.username.errors %}
                                    <div class = "alert alert-danger">
                                      <li>{{ error }}</li>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-4">
                                <strong>Contraseña</strong>
                                <input type="password" name="password" class="contact_input" value={{request.form.password}}>
                                {% for error in form.password.errors %}
                                    <div class = "alert alert-danger">
                                      <li>{{ error }}</li>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-4">
                                <strong>Confirmar contraseña</strong>
                                <input type="password" name="confirm" class="contact_input" value={{request.form.confirm}}>
                                {% for error in form.confirm.errors %}
                                    <div class = "alert alert-danger">
                                      <li>{{ error }}</li>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="submit" id="send" class="mb-5 contact_button" value="Registrarse" id="upload-button">
        </form>
    </center>

    <!-- Footer  -->
    {% include 'include/footer.html' %}
</div>

<!-- General Scripts  -->
{% include 'include/scripts.html' %}

<script src="{{ url_for('static', filename = 'js/register.js') }}"></script>

</body>
</html>