<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename = 'plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"
          rel="stylesheet" type="text/css">

    <link rel="icon" href="{{ url_for('static', filename = 'images/Logo_SELIT!_x256.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/common/main_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/register.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename = 'styles/common/main_responsive.css') }}">
</head>
<body>

<div class="super_container">
    <div class="super_overlay"></div>

    <!-- Header -->
    {% include 'include/header.html' %}


    <!-- Formulario -->
    <center class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h1>REGISTRARSE</h1></div>
                </div>
            </div>
        </div>


        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">


            <div class="row contact_form_row">
                <div class="col">
                    <div class="contact_form_container">

                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="contact_input" placeholder="Your name"
                                >
                            </div>
                            <div class="col-lg-4">
                                <input type="email" class="contact_input" placeholder="Your e-mail"
                                >
                            </div>
                            <div class="col-lg-4">

                                <strong>Perfil Image:</strong><br>

                                <div class="d-flex justify-content-center">
                                    <input id="file-input" type="file" name="file" accept="image/*">
                                </div>

                                <div id="preview" class=" images">

                                </div>
                            </div>
                        </div>
                        <input class="contact_textarea contact_input" placeholder="Message">

                    </div>
                </div>
            </div>

            <input type="submit" id="send" class="mb-5 contact_button" value="Registrarse" id="upload-button">
        </form>
    </center>

    <!-- Footer  -->
    {% include 'include/footer.html' %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ url_for('static', filename = 'styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'plugins/parallax-js-master/parallax.min.js') }}"></script>

<script src="{{ url_for('static', filename = 'js/common/main.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/register.js') }}"></script>
</body>
</html>