<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recuperar Contraseña</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Recuperar Contraseña">

    <!-- General links -->
    {% include 'include/headLinks.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/login.css') }}">
</head>
<body>
<!------ Include the above in your HEAD tag ---------->
<!-- Header -->
{% include 'include/header.html' %}

<!-- Title -->
<center>
    <div class="title_container">
        <div class="title">Recuperar contraseña</div>
    </div>
</center>

<!-- Formulario -->
<center class="container">

    <div class="row">
        <div class="col">

            <!-- ********************** Desktop ************************** -->
            <div class="formContent_d mb-5 pt-3 m_no_display">
                <!-- Login Form -->
                <form class="search_form" action="" method="post" novalidate>
                    <p>
                        <strong>{{ form.email.label }}</strong><br>
                        <input type="text" class="input-d" name="email" value={{request.form.email}}>
                        {% for error in form.email.errors %}
                    <center>
                        <div class="alert alert-danger input-d">
                            {{ error }}
                        </div>
                    </center>
                    {% endfor %}
                    <p>{{ form.submit(class="main_button") }}</p>
                </form>
            </div>
        </div>
    </div>


    <!-- ******************** Mobile ************************** -->
    <div class="mb-5 mt-5 m_display">

        <form class="formContent_m" action="" method="post" novalidate>
            <div class="col">

                <strong>{{ form.email.label }}</strong><br>
                <input type="text" name="email" value={{request.form.email}}>
                {% for error in form.email.errors %}
                <div class="alert alert-danger">
                    <li>{{ error }}</li>
                </div>
                {% endfor %}
                <p>{{ form.submit(class="main_button") }}</p>
            </div>
        </form>
    </div>
    <!-- ************************************************************ -->

</center>

<!-- General Scripts  -->
{% include 'include/scripts.html' %}
</body>
</html>
