<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Editar Anuncio</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="myHOME - real estate template project">

		<!-- General links -->
		{% include 'include/headLinks.html' %}

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/subirAnuncio.css') }}">
	</head>
	<body>

		<div class="super_container">
			<div class="super_overlay"></div>

			<!-- Header -->
			{% include 'include/header.html' %}

			<!-- Title -->
			<center>
				<div class="title_container">
					<div class="title">Editar Anuncio</div>
				</div>
			</center>


			<!-- Formulario -->
			<center class="container">

				<form id="upload-form" action="" method="POST" enctype="multipart/form-data" novalidate>
					{{ form_sale.csrf_token }}
					<div class="d-flex justify-content-center">
						<input type="file" id="file-input" class="inputfile" 
										   accept="image/bmp,image/jpeg,image/gif,image/png,image/svg+xml,image/tiff"
										   data-multiple-caption="{count} imagenes seleccionadas" multiple />
						<label for="file-input" class="p-3"><i
									class="fas fa-arrow-alt-circle-up pr-1"></i><span class="pl-2">Añadir imágenes</span></label>
					</div>

					<div id="preview" class="row justify-content-center">
						{% for picture in product.media %}
						<div class="col-4 col-md-3 col-lg-2 sortable">
							{% if picture.idImagen > 0 %}
							<div>
								<div style="background-image: url({{ api + '/pictures/' + (picture.idImagen|string) }})"></div>
							</div>
							{% else %}
							<div>
								<div style="background-image: url(data:{{ picture.mime }};base64,{{ picture.base64 }})"></div>
							</div>
							{% endif %}
							<div class="row">
								<!-- <i class="fas fa-arrow-left col-4"></i> -->
								<i class="fas fa-trash col-12"></i>
								<!-- <i class="fas fa-arrow-right col-4"></i> -->
							</div>
							<input type="hidden" name="base64[]" value="{{ picture.base64|default('None') }}"/>
							<input type="hidden" name="mime[]" value="{{ picture.mime|default('None') }}"/>
							<input type="hidden" name="idImagen[]" value="{{ picture.idImagen|default('0') }}"/>
						</div>
						{% endfor %}
					</div>

					<hr>


					<div class="row contact_form_row">
						<div class="col">
							<div class="contact_form_container">
								
								{% if isNew == 1 %}
								<div class="col-lg-12">
									<div class="prop_agent">
										<div class="row">
											<div class="isAuctionLabel">
												Subir como subasta
											</div>
											<div class="auctionButton">
												<label class="switch">
													<input id="isAuction" name="isAuction" type="checkbox" onclick="cambiarSubasta()" value="y">
													<span class="slider round"></span>
												</label>
											</div>
										</div>
									</div>
								</div>
								{% endif %}

								<div class="row">
									<div class="col-lg-7">
										<strong>{{ form_sale.name.label }}</strong><br>
										{{ form_sale.name(class="contact_input", minlength="1", maxlength="50", value=product.title) }}
										{% for error in form_sale.name.errors %}
										<center>
											<div class="alert alert-danger">
												{{ error }}
											</div>
										</center>
										{% endfor %}
									</div>
									<div class="col-lg-2">
										<strong id="prodPrice" >
											{% if isAuction == 0 %}
											<label>
												Precio (€)
											</label>
											{% else %}
											<label>
												Precio Base (€)
											</label>
											{% endif %}
										</strong><br>
										{{ form_sale.price(class="contact_input", placeholder="0.00", maxlength="10", value=product.price) }}
										{% for error in form_sale.price.errors %}
										<center>
											<div class="alert alert-danger">
												{{ error }}
											</div>
										</center>
										{% endfor %}
									</div>
									<div class="col-lg-3">
										<strong>{{ form_sale.category.label }}</strong><br>
										{{ form_sale.category() }}
										{% for error in form_sale.category.errors %}
										<center>
											<div class="alert alert-danger">
												{{ error }}
											</div>
										</center>
										{% endfor %}

									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<strong>{{ form_sale.description.label }}</strong><br>
										{{ form_sale.description(class="contact_textarea contact_input") }}
										{% for error in form_sale.description.errors %}
										<center>
											<div class="alert alert-danger">
												{{ error }}
											</div>
										</center>
										{% endfor %}

									</div>
									
									{% if isAuction == 1 %}
									<div class="col-lg-12" id="auction" style="display:block;">
										<div class="search_title">Fecha de finalización de la subasta</div>
										{{ form_sale.enddate(class = "calendar-input") }}
									</div>
									{% else %}
									<div class="col-lg-12" id="auction" style="display:none;">
										<div class="search_title">Fecha de finalización de la subasta</div>
										{{ form_sale.enddate(class = "calendar-input") }}
									</div>
									{% endif %}

									<div class="col-lg-12">
										{{ form_sale.lat() }}
										{% for error in form_sale.lat.errors %}
										<center>
											<div class="alert alert-danger">
												{{ error }}
											</div>
										</center>
										{% endfor %}

										{{ form_sale.lng() }}
									</div>

								</div>

								<div class="row">
									<div class="col-lg-12">
										<strong>Localización</strong>
										<div class="contact_map_container mb-5">
											<div id="map" class="google_map_container text-center pt-2" 
												      style="min-height: 300px; max-height: 50vh; overflow: auto">
											</div>
											<script type="text/javascript">

												if (navigator.geolocation) {
													navigator.geolocation.getCurrentPosition(function(location){
														var lat = location.coords.latitude;
														var lng = location.coords.longitude;
														var map = document.getElementById("map")

														var base_url = "https://maps.googleapis.com/maps/api/staticmap"
														var markers = "?markers=" + lat + "," + lng
														var zoom = "&zoom=15"
														var scale = "&scale=2"
														var size = "&size=" + map.offsetWidth + "x200"
														var key = "&key={{ GOOGLEMAPS_KEY }}";

														map.innerHTML = 
															"<img src='" + base_url + markers + zoom + size + scale + key + "'>";
														document.getElementById("{{ form_sale.lat.name }}").value = lat;
														document.getElementById("{{ form_sale.lng.name }}").value = lng;
													});
												}
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					{{ form_sale.submit(class="mb-5 main_button") }}
				</form>


			</center>

			<!-- Footer  -->
			{% include 'include/footer.html' %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<!-- General Scripts  -->
		{% include 'include/scripts.html' %}

		<script src="{{ url_for('static', filename = 'js/subirAnuncio.js') }}"></script>
	</body>
</html>
