<!DOCTYPE html>
<html lang="en">
<head>
    <title>Subir Anuncio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">

    <!-- General links -->
    {% include 'include/headLinks.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/venderObjeto.css') }}">
</head>
<body>

<div class="super_container">
    <div class="super_overlay"></div>

    <!-- Header -->
    {% include 'include/header.html' %}


    <!-- Formulario -->
    <center class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center m-5">
                    <div class="section_title"><h1>Subir Anuncio</h1></div>
                    <div class="section_subtitle">Parte 1</div>
                </div>
                <hr>
            </div>
        </div>


        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" novalidate>
            <div class="d-flex justify-content-center">
                <input type="file" name="file" id="file-input" class="inputfile"
                       data-multiple-caption="{count} imagenes seleccionadas" multiple/>
                <label for="file-input" class="p-3"><i
                        class="fas fa-arrow-alt-circle-up pr-1"></i><span>Elige una(s) imagen(es)</span></label>
            </div>

            <div id="preview" class=" images">

            </div>

            <hr>

            <div class="row contact_form_row">
                <div class="col">
                    <div class="contact_form_container">

                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="contact_input" placeholder="Nombre del producto">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="contact_input" placeholder="Precio (€)">
                            </div>
                            <div class="col-lg-4">
                                <select name="ad" onchange="">
                                    <option selected> Categoría</option>
                                    <option value="1">Vehículos</option>
                                    <option value="2">Casas</option>
                                    <option value="3">Informática</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea class="contact_textarea contact_input"
                                          placeholder="Descripción detallada"></textarea>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <select name="ad" onchange="">
                                    <option selected> Localizaciones Guardadas</option>
                                    <option value="1">Zaragoza</option>
                                    <option value="2">Mi casa</option>
                                    <option value="3">Alli pal fondo</option>
                                </select>
                                <input type="text" class="contact_input" placeholder="Latitud">
                                <input type="text" class="contact_input" placeholder="Longitud">
                            </div>

                            <div class="col-lg-8">
                                <div class="contact_map_container mb-5">
                                    <div class="map">
                                        <div id="google_map" class="google_map">
                                            <div class="map_container">
                                                <div id="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <input type="submit" id="send" class="contact_button mb-5" value="Subir Anuncio" id="upload-button">
        </form>


    </center>

    <!-- Footer  -->
    {% include 'include/footer.html' %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- General Scripts  -->
{% include 'include/scripts.html' %}

<!-- Google Maps  -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>

<script src="{{ url_for('static', filename = 'js/venderObjeto.js') }}"></script>
</body>
</html>