<!DOCTYPE html>
<html lang="en">
<head>
    <title>Subir Anuncio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">

    <!-- General links -->
    {% include 'include/headLinks.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/venderObjeto.css') }}">
</head>
<body>

<div class="super_container">
    <div class="super_overlay"></div>

    <!-- Header -->
    {% include 'include/header.html' %}


    <!-- Formulario -->
    <center class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h1>Subir Anuncio</h1></div>
                    <div class="section_subtitle">Parte 1</div>
                </div>
            </div>
        </div>


        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

            <div class="row contact_row">
                <strong>Images:</strong><br>
            </div>
            <div class="d-flex justify-content-center">
                <input type="file" name="file" id="file-input" class="inputfile" data-multiple-caption="{count} files selected" multiple />
                <label for="file-input" class="p-1"><i class="fas fa-arrow-alt-circle-up pr-1"></i><span>Choose a file</span></label>
            </div>

            <div id="preview" class=" images">

            </div>
            <input type="submit" id="send" class="contact_button" value="Upload!" id="upload-button">
        </form>

        <div class="row contact_form_row">
            <div class="col">
                <div class="contact_form_container">
                    <form action="#" class="contact_form text-center" id="contact_form">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="contact_input" placeholder="Your name"
                                >
                            </div>
                            <div class="col-lg-4">
                                <input type="email" class="contact_input" placeholder="Your e-mail"
                                >
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="contact_input" placeholder="Subject" required="required">
                            </div>
                        </div>
                        <textarea class="contact_textarea contact_input" placeholder="Message"></textarea>
                    </form>
                </div>
            </div>
        </div>


        <div class="contact_map_container mb-5">
            <div class="map">
                <div id="google_map" class="google_map">
                    <div class="map_container">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </center>

    <!-- Footer  -->
    {% include 'include/footer.html' %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- General Scripts  -->
{% include 'include/scripts.html' %}

<!-- Google Maps  -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>

<script src="{{ url_for('static', filename = 'js/venderObjeto.js') }}"></script>
</body>
</html>