{% macro list(products) -%}
    <div class="container">
        <div class="row">
            <!-- Listings Container -->
            {% for prod in products %}
            <div class="col-sm-6 col-lg-4 d-flex flex-column my-3">
                <div class="listing d-flex flex-column flex-grow-1">
                    <div class="listing_image">
                        <div class="listing_image_container" style="background-image: url(data:image/jpeg;base64,{% include 'include/image.html' %})">
                        </div>
                    </div>

                    <div class="listing_content listing_location flex-grow-1">
                        <div class="tag_price listing_price listing_image">
                            <strong>
                                {{ '%0.2f'| format(prod.price|float) }} 
                                {{ prod.currency }}
                            </strong>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <h3 href="single" class="mb-2">
                                        <a href="{{ url_for('get_gallery', prod_id=prod.id_producto) }}">
                                            {{ prod.title }}
                                        </a>
                                    </h3>
                                </li>
                                <li>
                                    <p>{{ prod.description }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{%- endmacro %}