{% macro list(products, auction) -%}
<div class="container">
	<div class="row">
		<!-- Listings Container -->
		{% for prod in products %}

		{% if auction == True %}
		<a href="{{ url_for('get_auction', prod_id=prod.idSubasta) }}" class="col-sm-6 col-lg-4 flex-column d-flex my-3">
		{% else %}
		<a href="{{ url_for('get_gallery', prod_id=prod.id_producto) }}" class="col-sm-6 col-lg-4 flex-column d-flex my-3">
		{% endif %}
			<div id="{{ prod.id_producto }}" class="listing d-flex flex-column flex-grow-1">
				<div class="listing_image">
					{% if prod.media != None %}
					{% if prod.media|length > 0 %}
					<div class="listing_image_container" style="background-image: url({{ api + '/pictures/' + (prod.media[0].idImagen|string) }})"></div>
					{% else %}
					<div class="listing_image_container" style="background-image: url({{ url_for('static', filename='images/items.svg') }})"></div>
					{% endif %}
					{% else %}
					<div class="listing_image_container" style="background-image: url({{ url_for('static', filename='images/items.svg') }})"></div>
					{% endif %}
                    {% if prod.status == "vendido" %}
                    <div class="tab_content d-flex flex-xl-row flex-column align-items-center justify-content-center">
                        <span class="d-flex">
                            Vendido
                        </span>
                    </div>
                    {% endif %}
                    <div class="wishlist {{ 'in_wishlist' if prod.in_wishlist else '' }} d-flex align-items-center justify-content-center" data-id="{{ prod.id_producto }}">
                        <i class="fas fa-heart"></i>
                        <i class="far fa-heart"></i>
                    </div>
				</div>

				<div class="listing_content listing_location flex-grow-1">
					<div class="tag_price listing_price listing_image">
						<strong>
							{% if auction == True %}
							{% if prod.lastBid != None %}
							{{ '%0.2f'| format(prod.lastBid.amount|float) }}
							{% else %}
							{{ '%0.2f'| format(prod.startPrice|float) }}
							{% endif %}
							{% else %}
							{{ '%0.2f'| format(prod.price|float) }}
							{% endif %}
							{{ prod.currency }}
						</strong>
					</div>
					<div>
						<ul>
							<li>
								<h3 class="mb-2">
									{{ prod.title }}
								</h3>
							</li>
							<li>
								<p>{{ prod.description }}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</a>

		{% endfor %}
	</div>
</div>
{%- endmacro %}
