<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="row">

                <!-- Footer Column -->
                <div class="col-xl-3 col-lg-6 footer_col">
                    <div class="footer_about">
                        <div class="footer_logo"><a href="/">my<span>home</span></a></div>
                        <div class="footer_text">
                            <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum
                                dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo
                                cursus in.</p>
                        </div>
                        <div class="social">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer_submit"><a href="#">submit listing</a></div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-xl-3 col-lg-6 footer_col">
                    <div class="footer_column">
                        <div class="footer_title">Information</div>
                        <div class="footer_info">
                            <ul>
                                <!-- Phone -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><img src="{{ url_for('static', filename = 'images/phone-call.svg') }}" alt="">
                                    </div>
                                    <span>+546 990221 123</span>
                                </li>
                                <!-- Address -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><img src="{{ url_for('static', filename = 'images/placeholder.svg') }}" alt="">
                                    </div>
                                    <span>Main Str, no 23, New York</span>
                                </li>
                                <!-- Email -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><i class="fas fa-envelope"></i>
                                    </div>
                                    <span>hosting@contact.com</span>
                                </li>
                            </ul>
                        </div>
                        <div class="footer_links usefull_links">
                            <div class="footer_title">Usefull Links</div>
                            <ul>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Listings</a></li>
                                <li><a href="#">Featured Properties</a></li>
                                <li><a href="#">Contact Agents</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-xl-3 col-lg-6 footer_col">
                    <div class="footer_links">
                        <div class="footer_title">Properties Types</div>
                        <ul>
                            <li><a href="#">Properties for rent</a></li>
                            <li><a href="#">Properties for sale</a></li>
                            <li><a href="#">Commercial</a></li>
                            <li><a href="#">Homes</a></li>
                            <li><a href="#">Villas</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Residential</a></li>
                            <li><a href="#">Appartments</a></li>
                            <li><a href="#">Off plan</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-xl-3 col-lg-6 footer_col">
                    <div class="footer_title">Featured Property</div>
                    <div class="listing_small">
                        <div class="listing_small_image">
                            <div>
                                <img src="{{ url_for('static', filename = 'images/listing_1.jpg') }}" alt="">
                            </div>
                            <div class="listing_small_tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                <div class="listing_small_tag tag_house"><a href="">house</a></div>
                                <div class="listing_small_tag tag_sale"><a href="listings">for sale</a></div>
                            </div>
                            <div class="listing_small_price">$ 562 346</div>
                        </div>
                        <div class="listing_small_content">
                            <div class="listing_small_location d-flex flex-row align-items-start justify-content-start">
                                <img src="{{ url_for('static', filename = 'images/icon_1.png') }}" alt="">
                                <a href="single">280 Doe Meadow Drive Landover, MD 20785</a>
                            </div>
                            <div class="listing_small_info">
                                <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_3.png') }}" alt="">
                                        <span>2</span>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_4.png') }}" alt="">
                                        <span>5</span>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{{ url_for('static', filename = 'images/icon_5.png') }}" alt="">
                                        <span>2</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                        <div class="copyright order-md-1 order-2">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                        <nav class="footer_nav order-md-2 order-1 ml-md-auto">
                            <ul class="d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                                <li><a href="index">Home</a></li>
                                <li><a href="about">About us</a></li>
                                <li><a href="listings">Listings</a></li>
                                <li><a href="blog">News</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>