<header class="header">

	<!-- Header Bar -->
	<div class="header_bar d-flex flex-row align-items-center justify-content-start">
		<div class="ml-auto d-flex flex-row align-items-center justify-content-start">

			
		</div>
	</div>

	<!-- Header Content -->
	<div class="header_content d-flex flex-row align-items-center justify-content-start">
		<div class="logo">
			<a href="/"><img class="logo_header_img"
					 src="{{ url_for('static', filename = 'images/Logo_SELIT!_x128.png') }}" alt=""
														 href="/"></a>
		</div>
		<div class="logo">
			<a href="/"><strong class="pl-2">SELIT!</strong></a>
		</div>
		<nav class="main_nav">
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li class="{{ 'active' if request.endpoint == 'index' else '' }}"><a href="{{ url_for('index') }}">Inicio</a></li>
				<li class="{{ 'active' if request.endpoint == 'listing' else '' }}"><a href="{{ url_for('listing') }}">Productos</a></li>
				<li class="{{ 'active' if request.endpoint == 'auctions' else '' }}"><a href="{{ url_for('auctions') }}">Subastas</a></li>
				<li class="{{ 'active' if request.endpoint == 'chat' else '' }}"><a href="{{ url_for('chat') }}">Chat</a></li>
			</ul>
		</nav>
		<div class="submit ml-auto"><a href="{{ url_for('upload') }}"><i class="fas fa-plus mr-2"></i> Subir Anuncio</a></div>
		<div class="d-flex flex-row mx-3">
				<ul class="d-none d-lg-flex">
					{% if userauth.is_authenticated %}
						<li><a href="{{ url_for('profile') }}" class="text-dark h4 mx-3"><i class="fas fa-user" title="Mi Perfil"></i></a></li>
						<li><a href="{{ url_for('logout') }}" class="text-dark h4 mx-2"><i class="fas fa-sign-out-alt" title="Cerrar Sesión"></i></a></li>
					{% else %}
						<li><a href="{{ url_for('login') }}" class="text-dark h6 mx-3">Iniciar Sesión</i></a></li>
						<li><a href="{{ url_for('register') }}" class="text-dark h6 mx-2">Registrarse</a></li>
					{% endif %}
				</ul>
			</div>
		<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
	</div>
</header>


<div>
	<div class="headerspace"></div>
	<div class="headerspace-diagonal"></div>
</div>


<!-- Menu PARA MOVILES -->

<div class="menu text-right">
	<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
	<div class="menu_log_reg">
		<div class="log_reg d-flex flex-row align-items-center justify-content-end">
			<ul class="d-flex flex-row align-items-start justify-content-start">
			{% if userauth.is_authenticated %}
				<li><a href="{{ url_for('profile') }}">Mi Perfil</a></li>
				<li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
			{% else %}
				<li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
				<li><a href="{{ url_for('register') }}">Registrarse</a></li>
			{% endif %}
			</ul>
		</div>
		<nav class="menu_nav">
			<ul>
				<li class="{{ 'active' if request.endpoint == 'index' else '' }}"><a href="{{ url_for('index') }}">Inicio</a></li>
				<li class="{{ 'active' if request.endpoint == 'listing' else '' }}"><a href="{{ url_for('listing') }}">Productos</a></li>
				<li class="{{ 'active' if request.endpoint == 'auctions' else '' }}"><a href="{{ url_for('auctions') }}">Subastas</a></li>
				<li class="{{ 'active' if request.endpoint == 'chat' else '' }}"><a href="{{ url_for('chat') }}">Chat</a></li>
				<li class="{{ 'active' if request.endpoint == 'upload' else '' }}"><a href="{{ url_for('upload') }}">Subir Anuncio</a></li>
			</ul>
		</nav>
	</div>
</div>
