@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

5. Home
6. Contact
7. Google Map

/******************************/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: var(--secondaryColor);
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: var(--primaryColor);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

/* Acceso con teclado */
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}




/*********************************
4. Formulario
*********************************/

.images {
  display: flex;
  flex-wrap:  wrap;
  margin-top: 20px;
}
.images .img,
.images .pic {
  flex-basis: 31%;
  margin-bottom: 10px;
  border-radius: 4px;
}
.images .img {
  width: 112px;
  height: 93px;
  background-size: cover;
  margin-right: 10px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.images .img:nth-child(3n) {
  margin-right: 0;
}
.images .img span {
  display: none;
  text-transform: capitalize;
  z-index: 2;
}
.images .img::after {
  content: '';
  width: 100%;
  height: 100%;
  transition: opacity .1s ease-in;
  border-radius: 4px;
  opacity: 0;
  position: absolute;
}
.images .img:hover::after {
  display: block;
  background-color: #000;
  opacity: .5;
}
.images .img:hover span {
  display: block;
  color: #fff;
}
.images .pic {
  background-color: #F5F7FA;
  align-self: center;
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
  color: #848EA1;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .wrapper {
    margin-top: 0;
  }
  header {
    flex-direction: column;
  }
  header span {
    text-align: left;
    margin-top: 10px;
  }
  .ways li,
  section input,
  section textarea,
  .select-option .head,
  .select-option .option div {
   font-size: 8px;
  }
  .images .img,
  .images .pic {
    flex-basis: 100%;
    margin-right: 0;
  }
}


footer {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 12px;
}

/*********************************
5. Home
*********************************/

.home
{
	height: 261px;
}
.home_content
{
	padding-top: 173px;
}
.home_title
{
	font-size: 30px;
	font-weight: 500;
	color: #ffffff;
}

/*********************************
6. Contact
*********************************/

.contact
{
	background: #ffffff;
	padding-top: 92px;
	padding-bottom: 85px;
}
.contact_row
{
	margin-top: 71px;
}
.contact_text
{
	margin-top: 17px;
}
.contact_info ul li:not(:last-of-type)
{
	margin-bottom: 18px;
}
.contact_info ul li > div:first-of-type
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--secondaryColor);
}
.contact_info ul li > div:first-of-type > div
{
	width: 23px;
	height: 23px;
}
.contact_info ul li > div:first-of-type > div img,
.contact_info ul li > div:first-of-type > div svg
{
	max-height: 100%;
	max-width: 100%;
}
.contact_info ul li span
{
	margin-left: 26px;
	font-size: 16px;
	font-weight: 600;
	color: #2b2e35;
}
.contact_form_row
{
	margin-top: 94px;
}
.contact_form
{
	display: block;
}
.contact_input
{
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	padding-left: 21px;
	background: #f3f7fb;
	margin-bottom: 30px;
	font-size: 16px;
	color: #2b2e35;
	font-weight: 500;

	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6c7079 !important;
}
.contact_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6c7079 !important;
}
.contact_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6c7079 !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6c7079 !important;
}
.contact_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6c7079 !important;
}
.contact_textarea
{
	height: 236px;
	padding-top: 16px;
}
.contact_button
{
	width: 247px;
	height: 51px;
	background: var(--secondaryColor);
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 23px;
}




/* TEXT INPUT ANIMATIONS */

input[type=text]:focus {
  background-color: #fafafa;
  border-bottom: 2px solid var(--secondaryColor);
}

input[type=password]:focus {
  background-color: #fafafa;
  border-bottom: 2px solid var(--secondaryColor);
}

input[type=text] {
  text-align: center;
  font-size: 16px;
  border: 2px solid #f5f5f5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
