@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

5. Home
6. Contact
7. Google Map

/******************************/

/*********************************
6. Form
*********************************/

.formContent_d {
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.formContent_m {
    background: #fff;
    width: 100%;
    position: relative;
    padding: 0px;
);
    text-align: center;
}

.contact_input::input-placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #6c7079 !important;
}

.contact_textarea {
    height: 236px;
    padding-top: 16px;
}

.contact_button {
    width: 247px;
    height: 51px;
    background: var(--secondaryColor);
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 23px;
}

input[type=button], input[type=submit], input[type=reset] {
    width: 247px;
    height: 51px;
    background: var(--secondaryColor);
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 23px;

    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: var(--primaryColor);
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

/* TEXT INPUT ANIMATIONS */

input[type=text]:focus {
    background-color: #fafafa;
    border-bottom: 2px solid var(--secondaryColor);
}

input[type=password]:focus {
    background-color: #fafafa;
    border-bottom: 2px solid var(--secondaryColor);
}

.input-d {
    max-width: 80%;
}

input[type=text] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 21px;
    background: #f3f7fb;
    margin-bottom: 30px;
    font-size: 16px;
    color: #2b2e35;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    border: 2px solid #f5f5f5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input[type=password] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 21px;
    background: #f3f7fb;
    margin-bottom: 30px;
    font-size: 16px;
    color: #2b2e35;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    border: 2px solid #f5f5f5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
